.App-header {
    background-color: #3b298d;
    min-height: 13vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    font-size: calc(30px + 2vmin); 
    color: white;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  .App-header a:hover {
    font-size: calc(40px + 2vmin);
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .right-section {
    margin-left: 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  
  .bittels-value {
    font-weight: bold;
    margin-left: 10px;
  }
  


