/* body {
    margin: 0px;
    background-color: white;
    height: 100vh;
    display: block;
    overflow: hidden;
} */

/* 
.display-card {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    height:fit-content;
    position: relative;
    max-height: 80vh;
    padding: 35px;
    overflow: scroll;
    margin: 50px 50px 0px 0px;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.5));
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
} */

/* .my-profile {
    width: 28vw;
    aspect-ratio: 5 / 7;

    display: grid;



}

.my-portfolio {
    width: 38vw;
    aspect-ratio: 1 / 1;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: Inter;
    position: relative;
    width: 100%;
    padding: 0px;
    margin: 0px;
    top: 0%;
} */

.container {
    /* display: flex;
    gap: 30vmin;
    position: relative;
    height: 100%;
    justify-content: space-between;
    align-items: top;
    border-radius: 10px; */

    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
}

/* .socials, .pic-and-name {
    display: flex;
    align-items: center;

    margin-left: auto;
    margin-right: 32%;
    width: 50%;

    gap: 10%;
} */

/* .profile-pic {
    display: flex;
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    object-fit: cover;
}


.circle-crop {
    position: relative;
  
} */

.input-bio {
    width: 80%;
    height: 80%;
}

textarea {
    resize: none;
    border-radius: 10px;
    border-color: white;
    background-color: #CCC;
    position: relative;
    padding: 10px;
}

.input-name {
    width: 40%;
    border-radius: 10px;
    border-color: white;
    background-color: #CCC;
    position: relative;
    border-style: none;
    padding: 5px;
}

input {
    border: auto;
    border-radius: 10px;
}

.save {
    border-radius: 10px;
    background-color: #1C4FD1;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px 5px 10px;
    border-style: none;
    align-self: center;
}

/* #grid-background-image {
    background-image: url(../../../assets/pngegg.png);
    background-repeat: repeat;
    opacity: 20%;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    zoom: 50%;
} */



/* table {
    margin: 0px;
    position:relative;
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #CCC;
    display: flex;
    padding: 10px 0px 10px 0px;
    justify-content: space-around;
}

td, th {
    text-align: left;
    font-size: 1.5em;
    font-family: Inter;
    margin: auto;

} */

td:nth-child(4) {
    color:red;
}