/* .App-header {
    background-color: #1C4FD1;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(30px + 2vmin); 
    color: white;
    width: 100%;
    position: relative;
    padding-top: 0%;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-family: 'Lato';
    font-style: sans-serif;
    font-weight: 500;
    font-size: 60px;
    margin-left: 20px;
  }
  
  .App-header a:hover {
    font-size: calc(40px + 2vmin);
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }
  
  .bittels-img {
    width: 40px;
    height: 40px;
    margin: 0px 10px 0px 30px;
  }

  .bittels-text {
    font-weight: bold;
    margin-left: 10px;
    margin: 0px 10px;
    font-family: 'Inter';
    font-style: normal;
  } */