/*
* CTRL-F with section name to find css code for specific section
* 
* Sections:
* 
* BACKGROUND STYLING, 
* HEADER STYLING,
* HORIZONTAL LINE STYLING, 
* TEXT STYLING, 
* TABLE STYLING, 
* VIEWS, 
* FLEX ORGANIZERS, 
* PICTURES, 
* WIDGETS, 
* BUTTONS, 
* ANIMATIONS, 
* MESSAGES 
*
*/

/*************************************
BACKGROUND STYLING
**************************************/

body {
    margin: 0px;
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#grid-background-image {
    background-image: url(../assets/pngegg.png);
    background-repeat: repeat;
    opacity: 10%;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    zoom: 30%;
}

#stock-line {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../assets/stock-line.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*************************************
HEADER STYLING
**************************************/

.header-bar {
    height: 100px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: #1C4FD1;
}

.title-text-login {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 128px;
    line-height: 170px;
    z-index: 0;
    color: #1C4FD1;
    place-self: center;
}

.title-text {
    color: white;
    font-family: 'Lato';
    font-style: sans-serif;
    font-weight: 500;
    font-size: 60px;
    margin-left: 20px;
}

.button {
    font-family: 'Lato';
}

.title-text:hover {
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.5));
}

/*************************************
HORIZONTAL LINE STYLING
**************************************/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    width: 90%;
    align-self: center;
}

#hr-full {
    width: 100%;
    margin: 0;
}

/*************************************
TEXT STYLING
**************************************/

p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter';
    position: relative;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    color: rgb(70, 70, 70);
}

p {
    font-size: 12pt;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
    margin-right: 20px;
}
  
h3 {
    font-size: 28px;
    margin-right: 20px;
}

h4 {
    font-size: 20px;
}

.white-text {
    color: white;
}

.red-text {
    color: red;
}

.tiny-text {
    font-size: xx-small;
}

/*buy sell page*/
#aboutMe {
    margin: 80px 80px 40px 20px;
}

#account_balance {
    margin: 10px 50px 0px 0px;
}


/*************************************
TABLE STYLING
**************************************/

table {
    margin: 0px;
    position:relative;
    width: 100%;
    border-collapse: collapse;
}

tbody:nth-child(n+2):hover
 {
    opacity: 50%;
}

#profile-table {
    margin: 30px 0px 50px 0px;
}

tr {
    border-bottom: 1px solid #CCC;
}

td, th {
    position: relative;
    text-align: left;
    font-size: 12pt;
    font-family: Inter;
    color: rgb(70, 70, 70);
    padding: 10px 10px 10px 10px;
    width:fit-content;
}

#portTable td:nth-child(4) {
    color:red;
}

/*************************************
VIEWS
**************************************/

.view {
    position:relative;
    background-color: white;
    /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); */
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.view::-webkit-scrollbar {
    display: none;
  }

/*login page*/
#login-view {
    max-height: fit-content;
    align-items: center;
    place-self: center;
}

#signup-view {
    max-height: fit-content;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: 170px;
    visibility: hidden;
    place-self: center;
}
/*profile page*/
#profile-view {
    max-height: 600px;
    min-height: 550px;
    margin: 40px;
    /* justify-content: space-around; */
    align-content: center;
    flex:1;
}

#portfolio-view {
    min-height: 550px;
    max-height: 600px;
    margin: 40px;
    flex:1;
    overflow: scroll;
}

/*discovery page*/
#friends-bar {
    width: 100%;
    height: 120px;
    margin: 40px 0px 0px 0px;
    border-radius: 0;
}

#popular-profiles-view,
#messages-container-view {
    height: 80%;
    margin: 40px 40px 40px 40px;
    flex: 1;
    overflow: scroll;
}
/*buy sell page*/
#buy-sell-view {
    height: 70%;
    width: 90%;
    place-self: center;
    margin-top: 4%;
    padding: 40px 50px 20px 50px;
}

/*************************************
FLEX ORGANIZERS
**************************************/

.flex-horizontal {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-vertical {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0px 10px 0px 10px;
}

/*discovery page*/
#bottom-bar {
    height: 60%;
}

/*buy sell page*/
.buy-sell-profile-flex {
    justify-content: space-between;
    margin: 20px 0px 40px 0px;
}

#buy-sell-form {
    margin: 7% 5% 10% 5%;
}

/*profile page*/
.profile-flex {
    margin: 20px 50px 20px 50px;
}

#profile-button-container,
#buy {
    justify-content: center;
}


/*************************************
PICTURES
**************************************/

.circle-pic {
    height: 45px;
    width: 45px;
    margin: 0px 20px 0px 20px;
    border-radius: 50%;
    object-fit: cover;
}

.pic-outline {
    border-style: solid;
    border-width:2px;
    border-color:#333333e1;

}

/*************************************
WIDGETS
**************************************/

.profile {
    margin-top: 0px;
    text-align: center;
    align-items: center;
}

.profile:hover {
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.5));
    cursor:pointer;
}

textarea {
    /* width: 80%;
    height: 80%; */
    resize: none;
    border-radius: 10px;
    border-color: white;
    background-color: #CCC;
    position: relative;
    padding: 10px;
}

.text-entry-gray {
    resize: none;
    border-radius: 10px;
    border-color: white;
    background-color: #CCC;
    position: relative;
    padding: 10px;
    border-style: none;
}

.text-entry {
    position: relative;
    font-size: larger;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    background: #FFFFFF;
    color: #000000;
    font-family: 'DM Sans', sans-serif;
}

.buy-sell-entry {
    /* margin: 0px 10px 0px 10px; */
    font-size: small;
    padding: 5px;
}

.login-text-entry {
    transform: translateX(-50%);
    margin-top: 30px;
    left: 50%;
    width: 300px;
    height: 50px;
    padding: 10px;
}

#search-bar {
    height: 28px;
    border-radius: 4px;
    width: 500px;
    font-size: large;
    border: none;
    padding: 0px 0px 0px 10px;
    margin: 20px 0px 0px 40px;
}

#input-bio {
    width: 80%;
}

/*************************************
BUTTONS
**************************************/

/* big blue button */
.big-blue-button {
    position: relative;
    width: 300px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: #1C4FD1;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 24px;
    box-sizing: border-box;
    border-radius: 10px;
}

.medium-blue-button {
    border-radius: 10px;
    background-color: #1C4FD1;
    color: white;
    font-size: 15pt;
    width: fit-content;
    height: fit-content;
    padding: 10px 15px 10px 15px;
    margin: 10px 20px 10px 20px;
    border: none;
    align-self: center;
}

.medium-blue-select select {
    display: none; /*hide original SELECT element: */
  }

.medium-blue-select {
    appearance: none;
    background-color: #1C4FD1;
    color: white;
    font-size: 15pt;
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

.button:hover {
    cursor:pointer;
}

.text-button {
    position:relative;
    width: fit-content;
    height: fit-content;
    margin: 20px 0px 20px 0px;
    color: #1C4FD1;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.logout-button {
    position:relative;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    color: white;
    /* font-family: 'Lato', sans-serif; */
    border: none;
    font-size: 13pt;
    font-style: normal;
    font-family: 'Inter';
    margin: 50px 20px 0px 20px;
}
.logout-button:hover {
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.5));
}

.text-button:hover {
    cursor:pointer;
}

.small-blue-button {
    border-radius: 10px;
    background-color: #1C4FD1;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px 5px 10px;
    border: none;
    align-self: center;
}

#delete-button {
    margin-left:50px;
    visibility: hidden;
}

/*************************************
ANIMATIONS
**************************************/

@keyframes fadein {
    from {opacity: 0%; visibility: hidden;}
    to {opacity: 100%; visibility: visible}
}

@keyframes fadeout {
    from {opacity: 100%; visibility: visible;}
    to {opacity: 0%; visibility: hidden;}
}

/*************************************
MESSAGES 
**************************************/

#message-view {
    flex-grow: 10;
    display: flex;
    flex-direction: column-reverse;
}
#messages {
    margin-right: 32px;
    margin-left: 36px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
#message-entry {
    border-radius: 10px;
    flex-grow:8;
    margin: 10px;
    padding: 10px;
    border-color: white;
    background-color: #dededee1;
    resize: none;
}
.other-message {
    margin: 10px;
    display:flex;
    align-items: center;
    justify-content: start;
}
.message-bubble-other {
    padding: 10px;
    border-radius: 10px;
    width:fit-content;
    height:fit-content;
    background-color:#dededee1;
}
.message-bubble-other::before {
    content: "";
    width: 0px;
    height: 0px;
    position: relative;
    border-left:15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid transparent;
    border-bottom: 15px solid #dededee1;
    left: -24px;
    top: 14px;
}